/*common start*/
body{
	margin: 0;
	padding: 0;

}
/*common end*/

/*header start*/
header{
	padding: 30px 0;
	border-bottom: 2px solid #EDEFF2;
}
.container{
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}
.logo{
	width: 5%;
	float: left;

}
.logo img{
	width: 100%;

}
.menu{
	width: 50%;
	margin-top: 15px;
	float: right;
}
.menu ul{
	margin: 0;
	float: right;
		
}
.menu ul li{
	float: left;
	list-style-type: none;

}
.menu ul li:last-child a{
	margin-right: 0;	
}

.menu ul li a{
	font-family: sans-serif;
	font-size: 17px;
	font-weight: 400;
	color: #5277A6;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	margin: 0px 50px;
}
/*header end*/

/*banner start*/
.banner{
	padding: 50px 0;
}
.container2{
	width: 55%;
	margin: 0 auto;
}
.b_content{
	font-family: sans-serif;
	text-align: center;
}
.b_content h1{
	font-weight: 700;
	font-size: 55px;
	color: #0D2455;
	margin: 0;
}
.b_content h2{
	font-weight: 700;
	font-size: 50px;
	color: #008AFF;
	margin: 10px 0 25px 0;
}
.b_content p{
	font-weight: 400;
	font-size: 16px;
	color: #546288;
	line-height: 10px;
	word-spacing: 1px;
}
.b_img{
	width: 75%;
	margin: 0 auto;
}
.b_img img{
	width: 100%;
}
/*banner end*/

/*success start*/
.success{
	padding: 60px 0px;
}

.s_content{
	font-family: sans-serif;
	overflow: hidden;
}
.s_left{
	width: 45%;
	float: left;
	text-align: right;
	padding: 0 10px 0 20px;
}
.s_left h2{
	font-size: 45px;
	font-weight: 700;
	color: #F15767;
	margin: 0 0 10px;
}
.s_left p{
	font-size: 16px;
	font-weight: 400;
	color: #546288;
	line-height: 25px;
	word-spacing: 1px;
	margin: 0;
}
.s_right{
	width: 50%;
	float: right;
	padding: 0 20px 0 10px;
}
.s_right h2{
	font-size: 60px;
	font-weight: 700;
	text-align: left;
	color: #0D2455;
	line-height: 70px;
	margin: 0;
}
/*success end*/
/* feature start */
.feature{}
.f_content{
	overflow: hidden;
}

.f_single{
	width: 29%;
	font-family: sans-serif;
	float: left;
	padding: 50px 33px;
	margin-right: 35px;
}
.f_single:last-child{
	margin-right: 0;
}
.pink{
	background-color: #FEEBED;
}
.green{
	background-color: #EAF9F4;
}
.yellow{
	background-color: #FFF8E8;
}
.f_img{}
.f_img img{
	width: 100%;
}
.f_single h2{
	font-size: 30px;
	font-weight: 700;
	margin: 10px 0 10px 75px;

}
.f_single p{
	font-size: 18px;
	font-weight: 400;
	line-height: 25px;
	margin:  0 0 0 75px;
}
/* feature end */

/* footer start*/
.footer{
	width: 100%;
	background-color: #008AFF;
}
.footer p{
	font-family: sans-serif;
	font-size: 17px;
	font-weight: 400;
	color: #ffffff;
	text-align: center;
	margin: 70px 0 0;
	padding: 30px 0;
/* footer end*/